@import "color";

body {
	background-color: $lightblue;
	background-size: cover;
	background-image: url("/images/tablecloth.jpeg");
}


.navbar-brand {

	padding-top: 0px;

	img {

		display: block;
	    // margin: auto;
	    // margin-bottom: 25px;
	    padding-top: 15px;
	    width: 30px;
	    height: auto;
	}
}


.pageHeader {
	text-align: center;
	margin-top: 50px;
}


.showPieImage {

	.pieHeader {
		text-align: center;
	}

	img {
		display: block;
	    margin: auto;
	    margin-bottom: 25px;
	    width: 75%;
	    height: auto;
	}
}

.shRecipe {

	margin-left: 25px;

	.pieHeader {
		margin-top: 0;
		padding-top: 0;
	}

	.recipe {
		margin-top: 50px;
	}

	img {
		display: block;
	    margin: auto;
	    margin-bottom: 25px;
	    width: 75%;
	    height: auto;
	}
}

